<div *ngIf="shopAction == 0">
    <div>
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" (click)="typeView=0">List Detail</a>
        <a class="p-2 text-muted" (click)="typeView=1">List Icons</a>
        <a class="p-2 text-muted" (click)="shopAction=2">
          {{cartCont}}
          <img src="http://icons-for-free.com/icon/download-basket_cart_purchase_shop_shopping_shopping_cart_shopping_trolleys_icon-603390.ico" width="50 " height="auto">
        </a>
      </nav>
    </div>
    <!-- Filter the Products   -->
    <div class="panel-body">
        <div class="row filter">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text"
                       (keyup)="filter()"
                       name="nameFilter"
                       [(ngModel)]="nameFilter" />
            </div>
            <div class="col-md-4"><!--price-range-->
							<div>Price Range:</div>
              <input type="range"
                min="1"
                max="100"
                step=".01"
                (change)="filter()"
                name="priceFilter"
                [(ngModel)]="priceFilter"/>
                 {{priceFilter | currency: "€"}}
               </div>
						</div>
            <div class="col-md-4">
              <label for="formGroup">Select the Type: *</label>
                 <select class="form-control"
                         name="typefilter"
                         (change)="filter()"
                         [(ngModel)]="typefilter">

                   <option *ngFor="let productType of productsType; let y = index"
                           [ngValue]="productType">
                     {{productType.getName()}}
                   </option>
                 </select>
            </div>
        <div class="row" *ngIf="listFilter">
            <div class="col-md-6">
                <h3>Filtered by: {{nameFilter}} </h3>
            </div>
        </div>


        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
         <div *ngIf="typeView==0" > <!--class="table-responsive" -->
            <table class="table"
                   *ngIf="products && products.length">
                <thead class="thead-light">
                    <tr>
                        <th>
                          Image
                            <!-- <button class="btn btn-primary"
                                (click)="toggleImage()">
                                {{showImage ? "Hide" : "Show"}} Image
                            </button> -->
                        </th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>More Info</th>
                        <th>Add Cart</th>
                        <th *ngIf="roleUser=='admin' || roleUser=='master'">Delete</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let product of productsFiltered
                              | paginate: {itemsPerPage: itemsPerPage,
                                currentPage:currentPage,
                                id: '1'};
                                let i = index;">
                        <td>
                          <img class="imgProduct"
                          style="height: 100px; width: 100px"
                          src="app/shopApp/images/{{product.id}}.jpg">
                        </td>
                        <td class="productsTable"><a>
                            {{product.name}}
                            </a>
                        </td>
                        <td class="productsTable">{{ product.price  }} €</td>
                       <td class="productsTable">
                         <a class="btn btn-primary"
                         (click)="goToDetail(product)">
                           +
                         </a>
                        </td>
                        <td class="productsTable">
                             <a class="btn btn-success"
                             (click)="addCart(product)">
                               Add Cart
                             </a>
                         </td>
                         <td class="productsTable" *ngIf="roleUser=='admin' || roleUser=='master'">
                           <button class="btn btn-danger"
                             (click)="removeProduct(product)">X</button>
                         </td>

                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="currentPage = $event"
               id="1"
               maxSize="5"
               directionLinks="true"
               autoHide="true">
           </pagination-controls>
        </div>
        <div *ngIf="typeView==1" >
          <div *ngIf="products && products.length">
            <table class="table" >
               <tbody class="listIcons">
                <span *ngFor="let product of productsFiltered
                            | paginate: {itemsPerPage: itemsPerPage,
                              currentPage:currentPage,
                              id: '1'};
                              let i = index;">
                          <div class="product-single" >
                             <a (click)="goToDetail(product)"><img class="imgProduct" src="app/shopApp/images/{{product.id}}.jpg"></a><br>
                             <a><strong>{{product.name}}</strong></a>
                             <div>
                               {{ product.price }} €
                             </div>
                             <a class="btn btn-primary"
                             (click)="goToDetail(product)">
                               +
                             </a>
                             <a class="btn btn-success"
                             (click)="addCart(product)">
                               Add Cart
                             </a>
                        </div>
                    </span>
                  </tbody>
            </table>

          <pagination-controls class="paginate" (pageChange)="currentPage = $event"
             id="1"
             maxSize="5"
             directionLinks="true"
             autoHide="true">
         </pagination-controls>
        </div>
      </div>
    </div>
</div>




<main-comanda *ngIf="shopAction==2"
[comandaProducts]="comandaProducts"
[products]="products"
[comanda]="comanda"
(setShopActionManagement) = "setShopActionManagement($event)"
></main-comanda>

<product-detail *ngIf="shopAction==1"
[productsType]="productsType"
[productDetail]="productDetail"
[products]="products"
(setShopAction) = "setShopActionManagement($event)">
</product-detail>
