<div class="panel panel-primary productDetail" >
    <div class="panel-heading" style="font-size:large">
        {{pageTitle + ": " + productDetail.name}}
        <div *ngIf="roleUser=='admin' || roleUser=='master'">
          <input class="btn btn-default btn-success insert"
                 type="button"
                 value="Insert Product"
                 />

          <input class="btn btn-default btn-success"
                type="button"
                value="Modify Product"
                />
        </div>
    </div>

    <div class="table-responsive panel ">
      <table class="tableCenter">
        <th> <img class="imgProduct" src="app/shopApp/images/{{productDetail.id}}.jpg"></th>
        <th>
           <table class="table">
            <tbody>
                    <tr>
                        <td>Name: </td>
                        <td>{{productDetail.name}}</td>
                    </tr>
                    <tr>
                        <td>Price: </td>
                        <td>{{productDetail.price}} €</td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>{{productDetail.description}}</td>
                    </tr>
                    <tr>
                        <td>Calories: </td>
                        <td>{{productDetail.calories}}</td>
                    </tr>
                    <tr>
                        <td>Proteines: </td>
                        <td>{{productDetail.proteins}}</td>
                    </tr>
                    <tr>
                        <td>Carbohydrates: </td>
                        <td>{{productDetail.carbohydrates}}</td>
                    </tr>
                    <tr>
                        <td>Total Fat: </td>
                        <td>{{productDetail.totalFat}}</td>
                    </tr>
                    <tr>
                        <td>Good For:</td>
                        <td>{{productDetail.goodFor}}</td>
                    </tr>
            </tbody>
          </table>
        </th>
      </table>
      <input class="btn btn-default btn-primary"
             type="button"
             value="Back"
             (click)="setShopAction.emit(0)"/>
  </div>
</div>
