<!--<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Food 4 Fitness</h1>
      <img src="https://i.pinimg.com/originals/62/6b/ce/626bceed6673f7ecd1e0a2f5ceaf3399.jpg">
      <p class="lead">
         looking for something fresh, balanced and practical to eat on their busy day of work, Our service is completely
         new in the national territory, there is a similar service in the United States and the United Kingdom. Our company
         offers superior quality food, at an affordable price for all budgets. We want to implement a success model where
         nothing similar exists.</p>
</div>-->
<header class="py-5 bg-image-full" style="background-image: url('https://mealplans.motionfitnessbali.com/images/slide.jpg');">
      <img class="img-fluid d-block mx-auto"  src="app/shopApp/images/logo_Food_For_Fitness.png" alt="">
</header>

    <!-- Content section -->
<section class="py-5">
      <div class="container">
          <h1>Food 4 Fitness</h1>
            <p class="lead">Food4Fitness is a healthy food delivery service focused on amateur and / or semi-professional athletes.</p>
         <p>looking for something fresh, balanced and practical to eat on their busy day of work, Our service is completely
            new in the national territory, there is a similar service in the United States and the United Kingdom. Our company
            offers superior quality food, at an affordable price for all budgets. We want to implement a success model where
            nothing similar exists.</p>
      </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('https://mealplans.motionfitnessbali.com/images/slide2.jpg');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>

<product-managment *ngIf="shopAction==2"
(setShopAction) = "setShopAction($event)"></product-managment>
