<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
        <div class="btn-list">
          <a class="btn btn-primary" (click)="typeView=0">List Detail</a>
          <a class="btn btn-primary" (click)="typeView=1">List Icons</a>
        </div>
    </div>

    <!-- Filter the Products   -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
            <div class="col-md-4"><!--price-range-->
							<h2>Price Range</h2>
              <input type="range"
                min="0"
                max="500"
                (change)="filter()"
                name="priceFilter"
                [(ngModel)]="priceFilter" />
                 {{priceFilter | currency: "€"}}
						</div>


        </div>
        <div class="row" *ngIf="listFilter">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

         <div *ngIf="typeView==0" > <!--class="table-responsive" -->
            <table class="table"
                   *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                          Image
                            <!-- <button class="btn btn-primary"
                                (click)="toggleImage()">
                                {{showImage ? "Hide" : "Show"}} Image
                            </button> -->
                        </th>
                        <th>Name</th>
                        <th>Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td> Image {{product.id}}</td>
                        <td><a>
                            {{product.name}}
                            </a>
                        </td>
                        <td>{{ product.price | currency: "€" }}</td>
                       <td>
                            <a class="btn btn-primary"
                            (click)="goToDetail(product)">
                              More Info
                            </a>
                        </td>
                        <td>
                             <a class="btn btn-success"
                             (click)="addCart(product)">
                               Add Cart
                             </a>
                         </td>
                         <td *ngIf="roleUser=='admin' || roleUser=='master'">
                           <button class="btn btn-danger"
                             (click)="removeProduct(product)">X</button>
                         </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="typeView==1" >
          <div *ngIf="products && products.length">
            <div *ngFor="let product of products">
              <div class="product-single" >
                 <a href="#">Image {{product.id}}</a><br>
                 <a href="#"><strong>{{product.name}}</strong></a>
                 <div>
                   {{ product.price | currency:"€" }}
                 </div>
                 <a class="btn btn-primary"
                 (click)="goToDetail(product)">
                     Go to detail
                 </a>
                 <a class="btn btn-success"
                 (click)="addCart(product)">
                   Add Cart
                 </a>
              </div>
          </div>
        </div>
    </div>
</div>

<product-detail *ngIf="shopAction==1"
[productsType]="productsType"
[productDetail]="productDetail"
(setShopAction) = "setShopActionManagement($event)">
</product-detail>
