<nav class="nav d-flex justify-content-between">
  <a class="p-2 text-muted" (click)="typeView=0">List Detail</a>
  <a class="p-2 text-muted" (click)="typeView=1">List Icons</a>
  <a class="p-2 text-muted" href="#">
    {{cartCont}}
    <img src="http://icons-for-free.com/icon/download-basket_cart_purchase_shop_shopping_shopping_cart_shopping_trolleys_icon-603390.ico" width="50 " height="auto">
  </a>
</nav>


        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
         <div *ngIf="typeView==0" > <!--class="table-responsive" -->
            <table class="table"
                   *ngIf="products && products.length">
                <thead class="thead-light">
                    <tr>
                        <th>
                          Image
                            <!-- <button class="btn btn-primary"
                                (click)="toggleImage()">
                                {{showImage ? "Hide" : "Show"}} Image
                            </button> -->
                        </th>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td> Image {{product.id}}</td>
                        <td><a>
                            {{product.name}}
                            </a>
                        </td>
                        <td>{{ product.price | currency: "€" }}</td>
                       <td>
                            <a class="btn btn-primary"
                            (click)="goToDetail(product)">
                              +
                            </a>
                        </td>
                        <td>
                             <a class="btn btn-success"
                             (click)="addCart(product)">
                               Add Cart
                             </a>
                         </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="typeView==1" >
          <div *ngIf="products && products.length">
            <div *ngFor="let product of products">
              <div class="product-single" >
                 <a href="#">Image {{product.id}}</a><br>
                 <a href="#"><strong>{{product.name}}</strong></a>
                 <div>
                   {{ product.price | currency:"€" }}
                 </div>
                 <a class="btn btn-primary"
                 (click)="goToDetail(product)">
                     Go to detail
                 </a>
                 <a class="btn btn-success"
                 (click)="addCart(product)">
                   Add Cart
                 </a>
              </div>
          </div>
        </div>
      </div>



<main-comanda *ngIf="shopAction==2"

></main-comanda>

<!-- <product-detail
[ProductType]="productsType"
[Products]="productDetail"
(setShopAction) = "setShopActionManagement($event)">
</product-detail> -->
