<form name="useManagementForm" #useManagementForm="ngForm"
      (ngSubmit)="registeruserNew()"
      novalidate>
  <div class="container well">
    <div class="form-horizontal" >
      <div class="row" *ngIf="userOptions == 1">
        <div class="col-xs-12"><h2>Add new userNew</h2></div>
      </div>
      <div class="row" *ngIf="userOptions == 2">
        <div class="col-xs-12"><h2>Modify your data</h2></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroup">Name:</label>
        <div class="col-sm-4">
          <input class="form-control"
              type="text"  #name="ngModel" name="name"
              [(ngModel)]="userNew.name" required />
        </div>
        <label class="col-sm-2 control-label" for="formGroup">Last name:</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" #surname1="ngModel" name="surname1"
          [(ngModel)]="userNew.surname" required/>
        </div>
        <label class="col-sm-2 control-label" for="formGroup">Nick:</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" id="userNewNick" #nick="ngModel" name="nick"
          [(ngModel)]="userNew.nickName" required/>
          <!--<p class="help-block" *ngIf="!nickValid" >
            <b>It already exists a userNew with this nick, try another one.</b>
          </p>-->
        </div>
        <label class="col-sm-2 control-label" for="formGroup">Password:</label>
        <div class="col-sm-4">
          <input class="form-control" type="password" #password="ngModel" name="password"
          [(ngModel)]="userNew.password" name="password" minlength="6"
          (keyup)="checkPassword();null"
          required/>
          <p class="help-block" *ngIf="password.invalid && password.dirty || password.touched" >
            Password must be at least 6 characters
          </p>
        </div>
        <div class="row" *ngIf="userOptions == 1">
          <label class="col-sm-2 control-label" for="formGroup">Repeat password:</label>
          <div class="col-sm-4">
            <input class="form-control" type="password"
              id="password2"
              #password2="ngModel"
              name="password2"
              [(ngModel)]="passControl" minlength="6"
              (keyup)="checkPassword();null"
              required/>
            <p class="help-block" *ngIf="password2.invalid && password2.touched" >
              Password not match
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroup">Address:</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" #password="ngModel" name="address"
          [(ngModel)]="userNew.address" name="address" minlength="6"
          required/>
        </div>
        <label class="col-sm-2 control-label" for="formGroup">Province:</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" #password="ngModel" name="province"
          [(ngModel)]="userNew.province" name="province" minlength="6"
          required/>
        </div>
        <label class="col-sm-2 control-label" for="formGroup">Country:</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" #password="ngModel" name="country"
          [(ngModel)]="userNew.country" name="country" minlength="5"
          required/>
        </div>
        <label class="col-sm-2 control-label" for="formGroup">Door:</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" #password="ngModel" name="door"
          [(ngModel)]="userNew.door" name="door" min="0" max="100"
          required/>
        </div>
        <label class="col-sm-2 control-label" for="formGroup">Phone:</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" #phone="ngModel" name="phone"
          [(ngModel)]="userNew.phone" name="phone" minlength="9"
          required/>
        </div>
        <div *ngIf="userOptions == 1">
        <label class="col-sm-2 control-label" for="formGroup">Role:</label>
        <div class="col-sm-4">
          <select class="form-control" id="role" name="role"
            #role="ngModel"
            [(ngModel)]="userNew.role"
            required>
            <option *ngFor="let roles of roleArray; let i = index"
              value="{{roles}}">
                      {{roles}}
            </option>
            </select>
        </div>
        </div>
      </div>

      <!--<div class="form-group">
        <label class="col-sm-2 control-label" for="formGroup">Image:</label>
        <div class="col-sm-4" *ngIf="userNewOption == 2">
          <label class="col-sm-2 control-label" for="formGroup">
            Image: <img src="{{userNew.getImage()}}" width="50" height="50"/>
          </label>
          <label class="col-sm-6 control-label" for="formGroup">
            <input class="form-control" type="file" accept="image/*"
            id="imageuserNewMod"
            name="imageName"
            #imageName="ngModel"
            (change)="angular.element(this).scope().setFile(this)"
            [(ngModel)]="imageuserNewMod" />
          </label>
          <label class="col-sm-2 control-label" for="formGroup">New Image:
            <img src="{{userNewImage}}">
          </label>
        </div>
        <div class="col-sm-4" *ngIf="userNewOption == 1">
            <input class="form-control" type="file" file="image" accept="image/*"
                  id="imageuserNew"
                  name="imageName"
                  ngModel
                  (change)="getFiles($event)"/>
            <p class="help-block" *ngIf="!validFile" >
              Your picture must be uploaded
            </p>
        </div>
      </div>-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroup"></label>
        <div class="col-sm-4">
          <button [disabled]="useManagementForm.invalid " class="btn btn-success">
            Submit
          </button>
        </div>
        <div class="form-group col-sm-6">
          <label>
            <input class="btn btn-default btn-primary btn-block" type="button"
            value="Back" (click)="goBack.emit(0)">
          </label>
        </div>
      </div>
    </div>
  </div>
</form>
